.cartDiv{
  color: rgb(51, 51, 51);
  border-right-style: solid;
  border-width: .01em;
  font-size: x-large;
  padding: 1em;
  width: 20%;
}

@media (max-width: 48em) {
  .cartDiv{
    color: rgb(51, 51, 51);
    border-right-style: solid;
    border-width: .01em;
    font-size: x-large;
    padding: 1em;
    width: 50%;
  }
  }

.cartDiv p{
  font-size: medium;
  padding: 0;
}

.cartDiv ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    width: 100%;
  }


.cartItem{
    font-size: large;
    margin-top: .25em;
    margin-bottom: .25em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.cartWindow{
  border-style: solid;
  border-radius: 1em;
  box-shadow: 4px 3px 3px rgb(180, 180, 180);
  border-width: .01em;
  width: 100%;
}

.BuyButton{
  border-top-style: solid;
  border-width: .01em;
}
.cartList li{
  width: 100%;
  overflow: auto;
  font-size: medium;
  padding-left: 1em;
  padding-right: 1em;
}

.cartButton{
  margin-top: .5em
}