

.dropdown {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border: .1em solid #ccc;
    border-radius: 1em;
    padding: 1em;
    color:black;
  }

.dropdownList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.cartItem{
    font-size: .5em;
}