

.dropdown {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border: .1em solid #ccc;
    border-radius: 1em;
    padding: 1em;
    color:black;
  }

.cartList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.cartDiv{
  border-style: solid;
  width: 50%;
  font-size: x-large;
  padding: 2em;

}

.cartItem{
    font-size: 1em;
}