.cartDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(51, 51, 51);
  border-right-style: solid;
  border-width: .01em;
  font-size: x-large;
  padding: 1em;
  width: 30%;
  overflow: hidden;
  max-width: 100%;


}



  .cartWindow{
    border-style: solid;
    border-radius: .5em;
    border-color: rgb(180, 180, 180);
    box-shadow: 4px 3px 3px rgb(180, 180, 180);
    border-width: .01em;
    width: 60%;
  }


.cartList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    width: 100%;
  }


.cartItem{
    font-size: large;
    margin-top: .25em;
    margin-bottom: .25em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    width: 100%;
    overflow: auto;
    font-size: medium;
    padding-left: 1em;
    padding-right: 1em;
}



.BuyButton{
  border-top-style: solid;
  border-color: rgb(180, 180, 180);

  border-width: .01em;
}

.cartTitle{
  margin-top: .5em
}


.FAQ{
  border-top-style: solid;
  padding-top: 3em;
  border-width: .01em;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.FAQ *{
  max-width: 20vw;

}


.cartItemInfo{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.cartItemInfo *{
  overflow: hidden;
  text-overflow:ellipsis;

}






@media (max-width: 64em) {
  .cartDiv{
    color: rgb(51, 51, 51);
    border-right-style: solid;
    border-width: .01em;
    font-size: medium;
    padding: 1em;
    width: 40%;
    max-width: 50%;

  }
  .cartWindow{
    width: 100%;
  }

  }