.cartList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.cartDiv{
  color: rgb(51, 51, 51);
  border-right-style: solid;
  font-size: x-large;
  padding: 2em;
  width: 20%;

}

.cartItem{
    font-size: 1em;
}