nav ul {
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    background-color: rgb(0, 80, 150);
    }

nav ul li {
    align-self: center;
    font-size: 1.5em;
    color: white
}
