nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    background-color: rgb(0, 80, 150);
    }

nav ul li {
    font-size: xx-large;
    color: white;
    padding-bottom:.2em;

}


@media (max-width: 48em) {

  
    }