
.interactionWindow{
  width:80%;
  min-height: 100vh;
  font-size: x-large;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.GCodeViewerDiv{
    height:50vh;
    overflow: hidden;
    border-bottom-style: solid;
    border-width: .01em;

  }



  .STLViewerDiv{
    height:40vh;
    border-style: solid;
    overflow: hidden;
    border-radius: 1em;
    border-width: .01em;
    border-color: gray;
    box-shadow: 4px 3px 3px rgb(180, 180, 180);
    width: 100%;

  }


  
  .printNotice{
    font-size: small;
  }

  .ChangePrint{
    border-style: solid;
    border-radius: 1em;
  }

  .GCodeSection{
    border-style: solid;
    border-color: black;
    box-shadow: 4px 3px 3px rgb(180, 180, 180);
    border-radius: 1em;
    border-width: .1em;
    }

  .uploadField{
    border-width: .01em;
    background-color:rgb(0, 80, 150);
    box-shadow: 4px 3px 3px rgb(180, 180, 180);
    border-radius: 1em;
    border-width: .01em;
    color: white;
    margin: 5em;
    max-width: 30%;
    min-width: 30%;
    padding: .5em;
  }
  
.GCodeSection{
  width: 100%;
}

.FAQ{
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%
}

.GCodeForm button{
  border-style:hidden;
}