
.interactionWindow{
  width:100%;
  min-height: 100vh;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2em;
}

@media (max-width: 48em) {
  .interactionWindow{
    width:100%;
    min-height: 100vh;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .uploadField{


  }
  .uploadField form{
  }
}

.GCodeViewerDiv{
    height:50vh;
    overflow: hidden;
    border-bottom-style: solid;
    border-width: .01em;
  }



  .STLViewerDiv{
    height:40vh;
    border-style: solid;
    overflow: hidden;
    border-radius: 1em;
    border-width: .01em;
    border-color: gray;
    box-shadow: 4px 3px 3px rgb(180, 180, 180);
    width: 80%;
  }


  
  .printNotice{
    font-size: small;
  }

  .ChangePrint{
    border-style: solid;
    border-radius: 1em;
  }

  .GCodeSection{
    border-style: solid;
    border-color: black;
    box-shadow: 4px 3px 3px rgb(180, 180, 180);
    border-radius: 1em;
    border-width: .1em;
    }


  
.GCodeSection{
  width: 100%;
}

.FAQ{
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%
}

.GCodeForm button{
  border-style:hidden;
}