
.interactionWindow{
  width:100%;
  min-height: 100vh;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.uploadField button{
  margin:1em;
  padding:1em;
  font-size: calc(8px + 1vmin);

}

@media (max-width: 48em) {
  .interactionWindow{
    width:60%;
    min-height: 100vh;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .uploadField{


  }
  .uploadField form{
  }
}

.GCodeViewerDiv{
    height:50vh;
    overflow: hidden;
    border-bottom-style: solid;
    border-width: .01em;
    border-color: rgb(180, 180, 180);

  }



  .STLViewerDiv{
    height:40vh;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    overflow: hidden;
    border-radius: 1em;
    border-width: .01em;
    border-color: rgb(180, 180, 180);
    box-shadow: 4px 3px 3px rgb(180, 180, 180);
    width: 60%;
  }


  
  .printNotice{
    font-size: small;
  }

  .ChangePrint{
    border-style: solid;
    border-radius: 1em;
  }

  .GCodeSection{
    border-style: solid;
    border-color: rgb(180, 180, 180);
    box-shadow: 4px 3px 3px rgb(180, 180, 180);
    border-radius: 1em;
    border-width: .01em;
    }


  
.GCodeSection{
  width: 80%;
}


.GCodeForm button{
  border-style:hidden;
}
