.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.mainDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  min-height: 100%;
  background-color: rgb(241, 242, 246);
}

button{
  padding: .25em;
  color: rgb(51, 51, 51);
  border-color:gray;
  background-color:rgb(0, 80, 150);
  border-width: .075em;
  color: white;
  font-size: 1em;
  border-radius: .25em;
  margin:.5em;
}
