.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.mainDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  min-height: 100%;
}