.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.mainDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
  background-color: rgb(241, 242, 246);
}

button{
  padding: .25em;
  background-color:rgb(0, 80, 150);
  border-width: .01em;
  color: white;
  font-size: 1em;
  border-radius: .25em;
  margin:.5em;
  box-shadow: 4px 3px 3px rgb(180, 180, 180);
  border-style: solid;
  border-color: rgb(180, 180, 180);

}
button:hover{
  cursor: pointer;

}


ul{
  list-style: none;
}
